%h3.page-title
  Deploy keys (部署用的 key) 拥有仓库的 "只读" 权限. 

  = link_to new_project_deploy_key_path(@project), class: "btn btn-new pull-right", title: "New Deploy Key" do
    %i.icon-plus
    创建 Deploy key

%p.light
  Deploy keys 可以用于 CI, 开发, 演示 或 生产服务器上.
  您可以创建一个新的 Deploy key, 或者添加一个现有的.

%hr.clearfix

.row
  .span5.enabled-keys
    %h5
      已启用的
      %strong.cgreen Deploy keys
    %ul.bordered-list
      = render @enabled_keys
      - if @enabled_keys.blank?
        .light-well
          %p.nothing_here_message 创建一个新的 #{link_to 'Deploy key', new_project_deploy_key_path(@project)} 或者添加一个现有的.
  .span5.available-keys
    %h5
      %strong Deploy keys
      提供给您的钥匙
    %ul.bordered-list
      = render @available_keys
      - if @available_keys.blank?
        .light-well
          %p.nothing_here_message 您有权限查看的 Deploy keys 都会显示在这里
