.loading-graph
  %center
    .loading
    %h3.page-title 正在构建一个很大很大的仓库图表.
    %p 所以... 请耐心等待, 反正又不会怀孕.

.stat-graph
  .header.clearfix
    .pull-right
      %select
        %option{:value => "commits"} 所有提交
        %option{:value => "additions"} 只看 添加 的
        %option{:value => "deletions"} 只看 删除 的
    %h3#date_header.page-title
    %p.light
      #{@project.default_branch} 分支的提交数, 不包含合并, 最多显示 6,000 条.
    %input#brush_change{:type => "hidden"}
  .graphs
    #contributors-master
    #contributors.clearfix
      %ol.contributors-list.clearfix

:javascript
  $(".stat-graph").hide();

  $.ajax({
    type: "GET",
    url: location.href,
    complete: function() {
      $(".stat-graph").fadeIn();
      $(".loading-graph").hide();
    },
    dataType: "script"
  });
