%ul.nav.nav-pills.nav-stacked.nav-stacked-menu
  = nav_link(path: 'projects#edit') do
    = link_to edit_project_path(@project), class: "stat-tab tab " do
      %i.icon-edit
      修改项目
  = nav_link(controller: [:team_members, :teams]) do
    = link_to project_team_index_path(@project), class: "team-tab tab" do
      %i.icon-group
      成员
  = nav_link(controller: :deploy_keys) do
    = link_to project_deploy_keys_path(@project) do
      %span
      Deploy Keys (部署)
  = nav_link(controller: :hooks) do
    = link_to project_hooks_path(@project) do
      %span
      Web Hooks (钩子)
  = nav_link(controller: :services) do
    = link_to project_services_path(@project) do
      %span
      服务
