.project-edit-container
  .project-edit-errors
  .project-edit-content
    %div
      %h3.page-title
        项目设置:
      %p.light 有些比较危险的设置放在页面的最下方, 例如: "迁移项目",
      %hr
      .form-holder
        = form_for(@project, remote: true) do |f|
          %fieldset
            .control-group.project_name_holder
              = f.label :name do
                项目名称
              .controls
                = f.text_field :name, placeholder: "Example Project", class: "span5"


            .control-group
              = f.label :description do
                项目描述
                %span.light (可选)
              .controls
                = f.text_area :description, placeholder: "这是一个很有趣的项目", class: "span5", rows: 3, maxlength: 250

            - if @project.repository.exists? && @project.repository.branch_names.any?
              .control-group
                = f.label :default_branch, "默认分支"
                .controls= f.select(:default_branch, @repository.branch_names, {}, {class: 'chosen'})


          - if can?(current_user, :change_public_mode, @project)
            %fieldset.public-mode
              %legend
                权限:
              .control-group
                = f.label :public, class: 'control-label' do
                  %span 公开
                .controls
                  = f.check_box :public
                  %span.descr
                    如果 "公开", 那么 
                    %em 所有的人
                    都可以访问(包括克隆)此项目.
                    并且还会在 #{link_to "公共项目列表", public_root_path} 中显示.
                    包括 #{link_to "Guest", help_permissions_path} 也有此项目的权限

          %fieldset.features
            %legend
              标签:
            .control-group
              = f.label :label_list, "标签", class: 'control-label'
              .controls
                = f.text_field :label_list, maxlength: 2000, class: "span5"
                %p.hint 多个标签时, 请用逗号分割.

          %fieldset.features
            %legend
              开通功能:
            .control-group
              = f.label :issues_enabled, "Issues", class: 'control-label'
              .controls
                = f.check_box :issues_enabled
                %span.descr 轻量级的 Issue 跟踪系统, 简单,好用!

            - if Project.issues_tracker.values.count > 1
              .control-group
                = f.label :issues_tracker, "Issues tracker", class: 'control-label'
                .controls= f.select(:issues_tracker, Project.issues_tracker.values, {}, { disabled: !@project.issues_enabled })

              .control-group
                = f.label :issues_tracker_id, "Project name or id in issues tracker", class: 'control-label'
                .controls= f.text_field :issues_tracker_id, disabled: !@project.can_have_issues_tracker_id?

            .control-group
              = f.label :merge_requests_enabled, "合并请求", class: 'control-label'
              .controls
                = f.check_box :merge_requests_enabled
                %span.descr Submit changes to be merged upstream.

            .control-group
              = f.label :wiki_enabled, "Wiki", class: 'control-label'
              .controls
                = f.check_box :wiki_enabled
                %span.descr 简单的维基系统, 可以用它来写项目的文档

            .control-group
              = f.label :wall_enabled, "Wall", class: 'control-label'
              .controls
                = f.check_box :wall_enabled
                %span.descr 简单的聊天系统

            .control-group
              = f.label :snippets_enabled, "Snippets", class: 'control-label'
              .controls
                = f.check_box :snippets_enabled
                %span.descr 代码片段, 可以与其他人分享.


          .form-actions
            = f.submit '保存更改', class: "btn btn-save"



    %center.light.prepend-top-20.padded
      %h3
        %i.icon-warning-sign
        危险的设置
      %p 下面的设置比较危险, 可能会导致数据丢失
      %p 如果你一定要这么干, 哥们, 请自求多福吧.
      = link_to '#', class: 'btn js-toggle-visibility-link' do
        显示
        %i.icon-chevron-down

    .js-toggle-visibility-container.hide
      - if can?(current_user, :change_namespace, @project)
        .ui-box.ui-box-danger
          .title Transfer project
          .errors-holder
          .form-holder
            = form_for(@project, url: transfer_project_path(@project), remote: true, html: { class: 'transfer-project' }) do |f|
              .control-group
                = f.label :namespace_id do
                  %span Namespace
                .controls
                  .control-group
                    = f.select :namespace_id, namespaces_options(@project.namespace_id), {prompt: 'Choose a project namespace'}, {class: 'chosen'}
                  %ul
                    %li Be careful. Changing the project's namespace can have unintended side effects.
                    %li You can only transfer the project to namespaces you manage.
                    %li You will need to update your local repositories to point to the new location.
              .form-actions
                = f.submit 'Transfer', class: "btn btn-remove"
      - else
        %p.nothing_here_message Only the project owner can transfer a project

      .ui-box.ui-box-danger
        .title Rename repository
        .errors-holder
        .form-holder
          = form_for(@project) do |f|
            .control-group
              = f.label :path do
                %span Path
              .controls
                .control-group
                  = f.text_field :path
                %ul
                  %li Be careful. Renaming a project's repository can have unintended side effects.
                  %li You will need to update your local repositories to point to the new location.
            .form-actions
              = f.submit 'Rename', class: "btn btn-remove"

      - if can?(current_user, :remove_project, @project)
        .ui-box.ui-box-danger
          .title Remove project
          .ui-box-body
            %p
              Removing the project will delete its repository and all related resources including issues, merge requests etc.
              %br
              %strong Removed projects cannot be restored!

            = link_to 'Remove project', @project, confirm: remove_project_message(@project), method: :delete, class: "btn btn-remove"
      - else
        %p.nothing_here_message Only project owner can remove a project

.save-project-loader.hide
  %center
    = image_tag "ajax_loader.gif"
    %h3 Saving project.
    %p Please wait a moment, this page will automatically refresh when ready.
